body {
  border: 20px solid #bdc3c7;
  margin: 20px 200px 0 200px;
  padding: 0 20px 0 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  text-transform: capitalize;
  color: #2c3e50;
}
h2 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #3498db;
  letter-spacing: 3px;
}
h1 + p {
  border-left: 4px solid #bdc3c7;
  /*border-spacing: 2px 5px;*/
  padding: 0 0 0 10px;
  margin-left: 10px;

}


hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
